* {
  box-sizing: border-box;
}

body {
  background: #171717;
  color: #efefef;

  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* =================
  Typography
  ================= */

h1,
h2,
h3,
h4,
a {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: #77838f;
  margin-top: 0;
  letter-spacing: 0.05em;
}

/* =================
  Large Paige Containers
  ================= */

.left-side-main-container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.right-side-main-container {
  right: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================
  Info Box
  ================= */

.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 40px;
  left: 40px;
  max-width: 600px;
  height: 120px;
  padding: 10px;
}

.info-box h4 {
  line-height: 0px;
}

/* =================
  Music Player
  ================= */

#title {
  color: #fff;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: absolute;
  margin-top: 300px;
  z-index: 10;
  width: 500px;
  left: 15%;
}

.img-container {
  display: flex;
  position: absolute;
  width: 110px;
  zoom: 8;
  left: 8vw;
  bottom: -7vh;
}

.img-container::after {
  content: "";
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -40%);
  zoom: 3;
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-info-savePlaylist {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 15px 15px;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info-savePlaylist {
  opacity: 1;
  height: 300px;
  transform: translateY(+10%);
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.music-info-savePlaylist h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #393737;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
