@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$black: #171717;
$black-soft: #1d1d1d;
$white: #efefef;

// Palette
$color-bg: #25282b;
$color-gradient: linear-gradient(180deg, #353a40 0%, #181a1d 100%);

// #272c30

// Shadows
// Box-shadow neumorphism
$color-shadow-light: #373d43;
$color-shadow-dark: #171718;

$box-shadow-lg: 10px 10px 40px $color-shadow-dark, -10px -10px 40px $color-shadow-light;
$box-shadow-sm: 2px 2px 20px $color-shadow-dark, -2px -2px 20px $color-shadow-light;

// Button shadows
$box-shadow-btn: 2px 2px 10px $color-shadow-dark, -2px -2px 10px $color-shadow-light;
$box-shadow-btn-sm: 1px 1px 10px $color-shadow-dark, -1px -1px 10px $color-shadow-light;
$box-shadow-btn-lg: 3px 3px 10px $color-shadow-dark, -3px -3px 10px $color-shadow-light;

// Colors
$color-btn-prim: linear-gradient(145deg, #ff6111, #c82911);
$color-btn-prim-clicked: linear-gradient(145deg, #c82911, #ff6111);

$color-btn-sec: linear-gradient(145deg, #2e3237, #1b1d21);
$color-btn-sec-clicked: linear-gradient(145deg, #1b1d21, #2e3237);

$color-text-prim: #a6aaab;
$color-text-sec: #727377;

// Sizing
$progressBar-height: 8px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $color-bg;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

/* =========
Typography
  ================= */
h6 {
  color: $color-text-sec;
  font-weight: 700;
}

h5,
p {
  color: $color-text-sec;
  font-weight: normal;
}

h4 {
  color: $color-text-prim;
}

/* =========
  Left & Right Page Containers
  ================= */

.left,
.right {
  position: relative;
  width: 100%;
  height: 50%;
  // display: flex;
  // flex-direction: column;
}
.right {
  z-index: -1;
}

/* =========
  Stats Tracker
    ================= */

.tracker {
  margin-top: 1.5rem;
  margin-left: 2rem;
  // background: blue;

  &__list {
    display: flex;
    align-items: center;

    h5 {
      margin-right: 0.2rem;
      font-size: 1rem;
      color: $color-text-prim;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

/* =========
  Media Player
    ================= */

.btn {
  background: $color-btn-sec;
  border-radius: 50%;
  // padding: 1rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #202428;
  position: relative;
  box-shadow: $box-shadow-btn;

  &:hover {
    background: $color-btn-sec-clicked;
  }

  &.play {
    background: $color-btn-sec-clicked;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-text-sec;
    font-size: 0.7rem;
  }

  &--sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
    box-shadow: $box-shadow-btn-sm;
  }

  &--lg {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1rem;
    border: 2px solid #ff6111;
    background: $color-btn-prim;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-shadow: $box-shadow-btn-lg;
  }

  &--lg i {
    color: $white;
  }

  &--lg:hover {
    background: $color-btn-prim-clicked;
  }

  &--lg.play {
    background: $color-btn-prim-clicked;
  }
}

.music {
  width: 90%;
  max-width: 30rem;
  margin: 5rem auto 0;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  border: 1px solid rgba(53, 58, 64, 0.9);

  background: $black-soft;
  background: $color-gradient;
  // background: #171717;
  box-shadow: $box-shadow-sm;

  // test to put play button in top right corner
  position: relative;
}

.media-player {
  text-align: center;
  font-weight: normal;

  h6 {
    font-weight: bold;
  }

  &__info {
    text-align: center;

    h4 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 0.2rem;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    position: relative;

    .btn {
      position: absolute;
      right: 0;
    }

    h5 {
      margin-top: 0rem;
    }
  }

  &__track-length {
    display: flex;
    justify-content: space-between;
    margin: 0 .3rem .6rem ;

    p {
      font-size: .7rem;
    }
  }

  &__progress-bar {
    width: 100%;
    height: $progressBar-height;
    border-radius: 50px;
    background-color: #efefef;
    margin-bottom: 1rem;
    position: relative;
  }

  &__progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    background: rgb(218, 0, 0);
    background: linear-gradient(90deg, rgba(218, 0, 0, 1) 0%, rgba(233, 227, 0, 1) 50%, rgba(3, 190, 0, 1) 100%);
    height: 100%;
    width: 100%;
    transition: width 0.1s linear;
    pointer-events: none;
    box-shadow: inset -1px 1px 2px #090909, inset 1px -1px 2px #5c5c5c;

    .overlay {
      position: absolute;
      border-radius: inherit;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: #030303;
      box-shadow: inset -1px 1px 2px #090909, inset 1px -1px 2px #5c5c5c;
      // background: #171717;
    }
  }
  &__progress-circle {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    background: $color-btn-sec;
    box-shadow: $box-shadow-btn-sm;
    pointer-events: none;
    transform: translate(-50%, calc(-50% + #{$progressBar-height} / 2));

    &-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 30%;
      width: 30%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: red;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;

    // test to see how it looks in top right corner, needs pos relative on ".music"
    // position: absolute;
    // left: 100%;
    // top: 0;
    // transform: translate(-70%, -30%);
  }
}

.playlist {
  width: 100%;
  tbody {
    max-height: 50vh;
    overflow: scroll;
    // background-color:red
  }

  th {
    color: $color-text-sec;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.7rem;
    padding-bottom: 10px;
  }

  td {
    color: $color-text-sec;
    font-size: 0.7rem;
    padding-bottom: 10px;

    &:last-child {
      text-align: right;
    }

    h4 {
      font-weight: normal;
      color: $color-text-prim;
      font-size: 0.9rem;
    }
  }
}

.vinyl {
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  border: 1rem solid $color-bg;
  
  // Neu attempt
  background: $color-bg;
  background: linear-gradient(-45deg, #24282c 0%, #181a1d 100%);
  box-shadow: $box-shadow-lg;
  
  &__record {
    width: 97%;
    height: 97%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #181a1d;
  }
  


  &__rivets {
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    left: 3px;
    z-index: 5;
    border-radius: 50%;
    background-image: radial-gradient(center center, circle closest-side, transparent 21%, transparent 31%,
    #0f1113 32%, transparent 32%, transparent 42%,
    #0f1113 43%, transparent 43%, transparent 53%,
    #0f1113 54%, transparent 54%, transparent 64%,
      #0f1113 65%, transparent 65%, transparent 75%,
      #0f1113 76%, transparent 76%, transparent 86%,
      #0f1113 87%, transparent 87%, transparent 97%,
      #0f1113 98%, transparent 98% );
    background-image: -webkit-radial-gradient(center center, circle closest-side, transparent 21%, transparent 31%,
    #0f1113 32%, transparent 32%, transparent 42%,
    #0f1113 43%, transparent 43%, transparent 53%,
    #0f1113 54%, transparent 54%, transparent 64%,
      #0f1113 65%, transparent 65%, transparent 75%,
      #0f1113 76%, transparent 76%, transparent 86%,
      #0f1113 87%, transparent 87%, transparent 97%,
      #0f1113 98%, transparent 98% );
  }

  &__shine {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(top, transparent, rgba(255,255,255,0.1), transparent);

    animation: reflection 15s linear infinite;
    animation-play-state: paused;

    
    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background-image: linear-gradient(-160deg, transparent 40%, rgba(255,255,255,0.1) 50%, transparent 60%);
    }
  }

  &__inner {
    width: 35%;
    height: 35%;
    position: absolute;
    top: 50%;
    left: 50%;

    top: calc(50% - calc(35% / 2));
    left: calc(50% - calc(35% / 2));
    border-radius: 50%;
  }

  .dot {
    width: 3%;
    height: 3%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid #0f1113;
    transform: translate(-50%, 50%);
    background-color: $color-bg;
    z-index: 1;
  }

  &__rivets, &__inner {
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
  }

  // When play is active
  &.play {
    .vinyl__inner, .vinyl__rivets, .vinyl__shine {
      animation-play-state: running;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes reflection {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }

  .left,
  .right {
    width: 50%;
    height: 100%;
  }

  .vinyl {
    width: 100vh;
    height: 100vh;
    right: 0;
    bottom: 0;
    transform: translateX(50%);
  }
}
