@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$black: #171717;
$black-soft: #1d1d1d;
$white: #efefef;

// Palette
$color-bg: #25282b;
$color-gradient: linear-gradient(180deg, #272c30 0%, #181a1d 100%);

// Shadows
// Box-shadow neumorphism
$color-shadow-light: #373d43;
$color-shadow-dark: #171718;

$box-shadow-lg: 20px 20px 40px $color-shadow-dark, -20px -20px 40px $color-shadow-light;
$box-shadow-sm: 10px 10px 20px $color-shadow-dark, -10px -10px 20px $color-shadow-light;
$box-shadow-main-sm: 10px 10px 40px #141619, -10px -10px 40px #3c4348;

// Button shadows
$box-shadow-btn: 5px 5px 10px $color-shadow-dark, -5px -5px 10px $color-shadow-light;
$box-shadow-btn-sm: 2px 2px 10px $color-shadow-dark, -2px -2px 10px $color-shadow-light;

// Colors
$color-btn-prim: linear-gradient(145deg, #ff6111, #c82911);
$color-btn-prim-clicked: linear-gradient(145deg, #c82911, #ff6111);

$color-btn-sec: linear-gradient(145deg, #2e3237, #1b1d21);
$color-btn-sec-clicked: linear-gradient(145deg, #1b1d21, #2e3237);

$color-text-prim: #a6aaab;
$color-text-sec: #727377;

// Sizing
$progressBar-height: 8px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $color-bg;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 100%;
  height: 100%;
}

/* =========
Typography
  ================= */
h6 {
  color: $color-text-sec;
  font-weight: 700;
}

h5,
p {
  color: $color-text-sec;
  font-weight: normal;
}

h4 {
  color: $color-text-prim;
}

/* =========
  Left & Right Page Containers
  ================= */

.left,
.right {
  position: relative;
  width: 100%;
  height: 50%;
  // display: flex;
  // flex-direction: column;
}
.right {
  z-index: -1;
}

/* =========
  Stats Tracker
    ================= */

.tracker {
  margin-top: 1.5rem;
  margin-left: 2rem;
  // background: blue;

  &__list {
    display: flex;

    h5 {
      margin-right: 0.2rem;
      font-size: 1rem;
      color: $color-text-prim;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

/* =========
  Media Player
    ================= */

.btn {
  background: $color-btn-sec;
  border-radius: 50%;
  // padding: 1rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #1b1d21;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    background: $color-btn-sec-clicked;
  }

  &.play {
    background: $color-btn-sec-clicked;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-text-sec;
    font-size: 0.7rem;
  }

  box-shadow: $box-shadow-btn;

  &--sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
  }

  &--lg {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    border: 2px solid #ff6111;
    background: $color-btn-prim;
  }

  &--lg i {
    color: $white;
  }

  &--lg:hover {
    background: $color-btn-prim-clicked;
  }

  &--lg.play {
    background: $color-btn-prim-clicked;
  }
}

.music {
  width: 90%;
  max-width: 30rem;
  margin: 5rem auto 0;
  padding: 1rem;
  border-radius: 2rem;

  background: $black-soft;
  background: $color-gradient;
  // background: #171717;
  box-shadow: $box-shadow-main-sm;

  // test to put play button in top right corner
  position: relative;
}

.media-player {
  text-align: center;

  &__info {
    text-align: left;
  }

  &__details {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;

    h5 {
      margin-top: 0rem;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;

    // test to see how it looks in top right corner, needs pos relative on ".music"
    // position: absolute;
    // left: 100%;
    // top: 0;
    // transform: translate(-70%, -30%);
  }

  &__progress-bar {
    width: 100%;
    height: $progressBar-height;
    border-radius: 50px;
    background-color: #efefef;
    margin-bottom: 1rem;
    position: relative;
  }

  &__progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    background: rgb(218, 0, 0);
    background: linear-gradient(90deg, rgba(218, 0, 0, 1) 0%, rgba(233, 227, 0, 1) 50%, rgba(3, 190, 0, 1) 100%);
    height: 100%;
    width: 100%;
    transition: width 0.1s linear;
    pointer-events: none;
    box-shadow: inset -1px 1px 2px #090909, inset 1px -1px 2px #5c5c5c;

    .overlay {
      position: absolute;
      border-radius: inherit;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: #030303;
      box-shadow: inset -1px 1px 2px #090909, inset 1px -1px 2px #5c5c5c;
      // background: #171717;
    }
  }
  &__progress-circle {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    background: $color-btn-sec;
    box-shadow: $box-shadow-btn-sm;
    pointer-events: none;
    transform: translate(-50%, calc(-50% + #{$progressBar-height} / 2));

    &-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 30%;
      width: 30%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: red;
    }
  }
}

.playlist {
  width: 100%;
  tbody {
    max-height: 50vh;
    overflow: scroll;
    // background-color:red
  }

  th {
    color: $color-text-sec;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.7rem;
    padding-bottom: 10px;
  }

  td {
    color: $color-text-sec;
    font-size: 0.7rem;
    padding-bottom: 10px;

    &:last-child {
      text-align: right;
    }

    h4 {
      font-weight: normal;
      color: $color-text-prim;
      font-size: 0.9rem;
    }
  }
}

.vinyl {
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  animation: rotate 5s linear infinite;
  animation-play-state: paused;

  // Neu attempt
  background: $color-bg;
  box-shadow: $box-shadow-lg;

  &.play {
    animation-play-state: running;
  }

  &__inner {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, 50%);
  }

  .dot {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    background-color: #171717;
    z-index: 1;
  }
}

@keyframes rotate {
  from {
    transform: translateY(50%) rotate(0deg);
  }

  to {
    transform: translateY(50%) rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }

  .left,
  .right {
    width: 50%;
    height: 100%;
  }
}
