* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #171717;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

/* =========
  Left & Right Page Containers
    ================= */
.left,
.right {
  position: relative;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right {
  background: orange;
  overflow: hidden;
  z-index: -1;
}

/* =========
  Stats Tracker
    ================= */
.tracker {
  background: blue;
}

.music {
  background: orange;
}

/* =========
  Media Player
    ================= */
.btn--lg {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.music {
  width: 90%;
  margin: 1rem auto 0;
  padding: 1rem;
  background: grey;
  border-radius: 1.5rem;
}

.media-player {
  text-align: center;
}

.media-player__info {
  text-align: left;
}

.media-player__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: red;
}

.media-player__details h5 {
  margin-top: 0.6rem;
}

.media-player__progress-bar {
  width: 100%;
  height: 3px;
  background-color: #efefef;
  margin-bottom: 1rem;
}

.media-player__progress-fill {
  background-color: #393737;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
  position: relative;
}

.media-player__progress-circle {
  position: absolute;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  background: red;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.playlist {
  width: 100%;
  max-height: 50vh;
}

th {
  border: 1px solid green;
  text-align: left;
}

td {
  border: 1px solid red;
}

.vinyl {
  width: 100vw;
  height: 100vw;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.vinyl.play {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.vinyl__inner {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.vinyl .dot {
  width: 25%;
  height: 25%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #171717;
  z-index: 1;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: translateY(50%) rotate(0deg);
            transform: translateY(50%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(50%) rotate(360deg);
            transform: translateY(50%) rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translateY(50%) rotate(0deg);
            transform: translateY(50%) rotate(0deg);
  }
  to {
    -webkit-transform: translateY(50%) rotate(360deg);
            transform: translateY(50%) rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */