$black: #171717;
$black-soft: #1d1d1d;
$white: #efefef;

// Background
$color-bg: #25282b;
$color-gradient: linear-gradient(180deg, #353a40 0%, #181a1d 100%); // Rename

// Colors
$color-btn-prim: linear-gradient(145deg, #ff6111, #c82911);
$color-btn-prim-clicked: linear-gradient(145deg, #c82911, #ff6111);

$color-btn-sec: linear-gradient(145deg, #2e3237, #1b1d21);
$color-btn-sec-clicked: linear-gradient(145deg, #1b1d21, #2e3237);

$color-text-prim: #a6aaab;
$color-text-sec: #727377;