@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reflection {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes moveBackground {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes rocket {
  0% {
    transform: translate(0);
    box-shadow: -50px 20px #6272a4, -40px 10px #6272a4, -40px 20px #576696, -40px 30px #556492, -30px 10px #cccccc, -30px 30px #b3b3b3, -30px 20px #cccccc, -20px 10px #b3b3b3, -20px 20px #8241f9, -20px 30px #b3b3b3, -10px 10px #999999, -10px 20px #7228f8, -10px 30px #b3b3b3, 0 10px #999999, 0 20px #b3b3b3, 0 30px #b3b3b3, 0 40px #999999, 10px 0 #fff, 10px 10px #999999, 10px 20px #b3b3b3, 10px 30px #8c8c8c, 10px 40px #e6e6e6, 10px 50px #999999, 20px 0 #fff, 20px 10px #999999, 20px 20px #b3b3b3, 20px 30px #8c8c8c, 20px 40px #e6e6e6, 20px 50px #999999, 30px 0 #999999, 30px 10px #999999, 30px 20px #999999, 30px 30px #8c8c8c, 30px 40px #cccccc, 30px 50px #999999, 40px 0 #ffac53, 40px 10px #ff2929, 40px 30px #ffb86c, 40px 40px #ff9f39, 40px 50px #ff8706, 50px 0 #ff4242, 50px 10px #ff4242, 50px 40px #ff4242, 50px 50px #ff2929, 60px 0 #ff4242, 60px 50px #ff2929, 70px 0 transparent, 70px 40px transparent;
  }
  20% {
    transform: translate(-2px, 2px);
    box-shadow: -50px 20px #6272a4, -40px 10px #6272a4, -40px 20px #576696, -40px 30px #556492, -30px 10px #cccccc, -30px 30px #b3b3b3, -30px 20px #cccccc, -20px 10px #b3b3b3, -20px 20px #8241f9, -20px 30px #b3b3b3, -10px 10px #999999, -10px 20px #7228f8, -10px 30px #b3b3b3, 0 10px #999999, 0 20px #b3b3b3, 0 30px #b3b3b3, 0 40px #999999, 10px 0 #fff, 10px 10px #999999, 10px 20px #b3b3b3, 10px 30px #8c8c8c, 10px 40px #e6e6e6, 10px 50px #999999, 20px 0 #fff, 20px 10px #999999, 20px 20px #b3b3b3, 20px 30px #8c8c8c, 20px 40px #e6e6e6, 20px 50px #999999, 30px 0 #999999, 30px 10px #999999, 30px 20px #999999, 30px 30px #8c8c8c, 30px 40px #cccccc, 30px 50px #999999, 40px 0 #ffac53, 40px 10px #ff2929, 40px 30px #ffb86c, 40px 40px #ff9f39, 40px 50px #ff8706, 50px 0 #ff4242, 50px 10px #ff4242, 50px 40px #ff4242, 50px 50px #ff2929, 60px 0 #ff4242, 60px 50px #ff2929, 70px 0 #ff4242, 70px 40px #ffb86c;
  }
  40% {
    transform: translate(-2px, -2px);
    box-shadow: -50px 20px #6272a4, -40px 10px #6272a4, -40px 20px #576696, -40px 30px #556492, -30px 10px #cccccc, -30px 30px #b3b3b3, -30px 20px #cccccc, -20px 10px #b3b3b3, -20px 20px #28036b, -20px 30px #b3b3b3, -10px 10px #999999, -10px 20px #28036b, -10px 30px #b3b3b3, 0 10px #999999, 0 20px #b3b3b3, 0 30px #b3b3b3, 0 40px #999999, 10px 0 #fff, 10px 10px #999999, 10px 20px #b3b3b3, 10px 30px #8c8c8c, 10px 40px #e6e6e6, 10px 50px #999999, 20px 0 #fff, 20px 10px #999999, 20px 20px #b3b3b3, 20px 30px #8c8c8c, 20px 40px #e6e6e6, 20px 50px #999999, 30px 0 #999999, 30px 10px #999999, 30px 20px #999999, 30px 30px #8c8c8c, 30px 40px #cccccc, 30px 50px #999999, 40px 0 #ffac53, 40px 10px #ff2929, 40px 30px #ffb86c, 40px 40px #ff9f39, 40px 50px #ff8706, 50px 0 #ff4242, 50px 10px #ff4242, 50px 40px #ff4242, 50px 50px #ff2929, 60px 0 rgba(255, 66, 66, 0.5), 60px 50px #ff2929, 70px 0 transparent, 70px 40px transparent;
  }
  60% {
    transform: translate(2px, 2px);
    box-shadow: -50px 20px #6272a4, -40px 10px #a3acc9, -40px 20px #576696, -40px 30px #556492, -30px 10px #fff, -30px 30px #b3b3b3, -30px 20px #cccccc, -20px 10px #fff, -20px 20px #8241f9, -20px 30px #b3b3b3, -10px 10px #fff, -10px 20px #7228f8, -10px 30px #b3b3b3, 0 10px #fff, 0 20px #b3b3b3, 0 30px #b3b3b3, 0 40px #999999, 10px 0 #fff, 10px 10px #fff, 10px 20px #b3b3b3, 10px 30px #8c8c8c, 10px 40px #e6e6e6, 10px 50px #999999, 20px 0 #fff, 20px 10px #fff, 20px 20px #b3b3b3, 20px 30px #8c8c8c, 20px 40px #e6e6e6, 20px 50px #999999, 30px 0 #999999, 30px 10px #999999, 30px 20px #999999, 30px 30px #8c8c8c, 30px 40px #cccccc, 30px 50px #999999, 40px 0 transparent, 40px 10px #ff2929, 40px 30px #ffb86c, 40px 40px #ff9f39, 40px 50px #ff8706, 50px 0 #ff4242, 50px 10px transparent, 50px 40px #ff4242, 50px 50px #ff2929, 60px 0 #ff4242, 60px 50px transparent, 70px 0 transparent, 70px 40px #ff4242;
  }
  80% {
    transform: translate(2px, -2px);
    box-shadow: -50px 20px #6272a4, -40px 10px #6272a4, -40px 20px #576696, -40px 30px #556492, -30px 10px #cccccc, -30px 30px #b3b3b3, -30px 20px #cccccc, -20px 10px #b3b3b3, -20px 20px #8241f9, -20px 30px #b3b3b3, -10px 10px #999999, -10px 20px #7228f8, -10px 30px #b3b3b3, 0 10px #999999, 0 20px #b3b3b3, 0 30px #b3b3b3, 0 40px #999999, 10px 0 #fff, 10px 10px #999999, 10px 20px #b3b3b3, 10px 30px #8c8c8c, 10px 40px #e6e6e6, 10px 50px #999999, 20px 0 #fff, 20px 10px #999999, 20px 20px #b3b3b3, 20px 30px #8c8c8c, 20px 40px #e6e6e6, 20px 50px #999999, 30px 0 #999999, 30px 10px #999999, 30px 20px #999999, 30px 30px #8c8c8c, 30px 40px #cccccc, 30px 50px #999999, 40px 0 rgba(255, 184, 108, 0.5), 40px 10px #ff2929, 40px 30px rgba(255, 184, 108, 0.5), 40px 40px rgba(255, 184, 108, 0.5), 40px 50px rgba(255, 184, 108, 0.5), 50px 0 #ff4242, 50px 10px #ff4242, 50px 40px #ff4242, 50px 50px transparent, 60px 0 #ff4242, 60px 50px #ff2929, 70px 0 transparent, 70px 40px transparent;
  }
  100% {
    transform: translate(0);
    box-shadow: -50px 20px #6272a4, -40px 10px #6272a4, -40px 20px #576696, -40px 30px #556492, -30px 10px #cccccc, -30px 30px #b3b3b3, -30px 20px #cccccc, -20px 10px #b3b3b3, -20px 20px #8241f9, -20px 30px #b3b3b3, -10px 10px #999999, -10px 20px #7228f8, -10px 30px #b3b3b3, 0 10px #999999, 0 20px #b3b3b3, 0 30px #b3b3b3, 0 40px #999999, 10px 0 #fff, 10px 10px #999999, 10px 20px #b3b3b3, 10px 30px #8c8c8c, 10px 40px #e6e6e6, 10px 50px #999999, 20px 0 #fff, 20px 10px #999999, 20px 20px #b3b3b3, 20px 30px #8c8c8c, 20px 40px #e6e6e6, 20px 50px #999999, 30px 0 #999999, 30px 10px #999999, 30px 20px #999999, 30px 30px #8c8c8c, 30px 40px #cccccc, 30px 50px #999999, 40px 0 #ffac53, 40px 10px #ff2929, 40px 30px #ffb86c, 40px 40px #ff9f39, 40px 50px #ff8706, 50px 0 #ff4242, 50px 10px #ff4242, 50px 40px #ff4242, 50px 50px #ff2929, 60px 0 #ff4242, 60px 50px #ff2929, 70px 0 transparent, 70px 40px transparent;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.9;
  }
}
@keyframes drift {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0.2rem, -0.2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
body {
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h4 {
  color: #a6aaab;
}

p,
h5,
h6 {
  color: #727377;
  font-weight: 400;
}

h6 {
  font-weight: 700;
}

.btn {
  background: linear-gradient(145deg, #2e3237, #1b1d21);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px solid #202428;
  position: relative;
  box-shadow: 2px 2px 10px #171718, -2px -2px 10px #373d43;
}
.btn:hover {
  background: linear-gradient(145deg, #1b1d21, #2e3237);
}
.btn.play {
  background: linear-gradient(145deg, #1b1d21, #2e3237);
}
.btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #727377;
  font-size: 0.7rem;
}
.btn--sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  box-shadow: 1px 1px 10px #171718, -1px -1px 10px #373d43;
}
.btn--lg {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  border: 2px solid #ff6111;
  background: linear-gradient(145deg, #ff6111, #c82911);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 3px 3px 10px #171718, -3px -3px 10px #373d43;
}
.btn--lg i {
  color: #efefef;
}
.btn--lg:hover {
  background: linear-gradient(145deg, #c82911, #ff6111);
}
.btn--lg.play {
  background: linear-gradient(145deg, #c82911, #ff6111);
}

.media-player {
  text-align: center;
  font-weight: normal;
}
.media-player h6 {
  font-weight: bold;
}
.media-player__info {
  text-align: center;
}
.media-player__info h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.media-player__details {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
  position: relative;
}
.media-player__details .btn {
  position: absolute;
  right: 0;
}
.media-player__details h5 {
  margin-top: 0rem;
}
.media-player__track-length {
  display: flex;
  justify-content: space-between;
  margin: 0 0.3rem 0.6rem;
}
.media-player__track-length p {
  font-size: 0.7rem;
}
.media-player__progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 50px;
  background-color: #efefef;
  margin-bottom: 1rem;
  position: relative;
}
.media-player__progress-fill {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  background: #da0000;
  background: linear-gradient(90deg, red 0%, yellow 50%, lime 100%);
  height: 100%;
  width: 100%;
  transition: width 0.1s linear;
  pointer-events: none;
  box-shadow: inset -1px 1px 2px #090909, inset 1px -1px 2px #5c5c5c;
}
.media-player__progress-fill .overlay {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #030303;
  box-shadow: inset -1px 1px 2px #090909, inset 1px -1px 2px #5c5c5c;
}
.media-player__progress-circle {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  background: linear-gradient(145deg, #2e3237, #1b1d21);
  box-shadow: 1px 1px 10px #171718, -1px -1px 10px #373d43;
  pointer-events: none;
  transform: translate(-50%, calc(-50% + 8px / 2));
}
.media-player__progress-circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 30%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: red;
}
.media-player__controls {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
}

.playlist {
  width: 100%;
}
.playlist tbody {
  max-height: 50vh;
  overflow: scroll;
}
.playlist th {
  color: #727377;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.7rem;
  padding-bottom: 10px;
}
.playlist td {
  color: #727377;
  font-size: 0.7rem;
  padding-bottom: 10px;
}
.playlist td:last-child {
  text-align: right;
}
.playlist td h4 {
  font-weight: normal;
  color: #a6aaab;
  font-size: 0.9rem;
}

.rocket-wrapper {
  display: none;
  transform: rotate(35deg) scale(0.5);
  margin-left: 10rem;
  margin-top: 2rem;
}

#rocket {
  width: 10px;
  height: 10px;
  background-color: #fff;
  animation: rocket 0.5s linear infinite both;
}

@media screen and (min-width: 768px) {
  .rocket-wrapper {
    display: block;
  }
}
.stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 200%;
  animation: moveBackground 5s linear infinite;
  transform: translateY(-50%);
  transform-origin: bottom;
}

.star {
  position: absolute;
  background: #ff6111;
}

.tracker {
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.tracker__list {
  display: flex;
  align-items: center;
}
.tracker__list h5 {
  margin-right: 0.2rem;
  font-size: 1rem;
  color: #a6aaab;
}
.tracker__list p {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .tracker__list {
    white-space: nowrap;
  }
}
.vinyl {
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  border: 1rem solid #24282c;
  background: #25282b;
  background: linear-gradient(-45deg, #24282c 0%, #181a1d 100%);
  box-shadow: 10px 10px 40px #171718, -10px -10px 40px #373d43;
}
.vinyl__record {
  width: 99%;
  height: 99%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #181a1d;
}
.vinyl__rivets {
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  left: 3px;
  z-index: 5;
  border-radius: 50%;
  background-image: radial-gradient(center center, circle closest-side, transparent 21%, transparent 31%, #0f1113 32%, transparent 32%, transparent 42%, #0f1113 43%, transparent 43%, transparent 53%, #0f1113 54%, transparent 54%, transparent 64%, #0f1113 65%, transparent 65%, transparent 75%, #0f1113 76%, transparent 76%, transparent 86%, #0f1113 87%, transparent 87%, transparent 97%, #0f1113 98%, transparent 98%);
  background-image: -webkit-radial-gradient(center center, circle closest-side, transparent 21%, transparent 31%, #0f1113 32%, transparent 32%, transparent 42%, #0f1113 43%, transparent 43%, transparent 53%, #0f1113 54%, transparent 54%, transparent 64%, #0f1113 65%, transparent 65%, transparent 75%, #0f1113 76%, transparent 76%, transparent 86%, #0f1113 87%, transparent 87%, transparent 97%, #0f1113 98%, transparent 98%);
}
.vinyl__shine {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, 0.1), transparent);
  animation: reflection 15s linear infinite;
  animation-play-state: paused;
}
.vinyl__shine:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-image: linear-gradient(-160deg, transparent 40%, rgba(255, 255, 255, 0.1) 50%, transparent 60%);
}
.vinyl__inner {
  width: 35%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  top: calc(50% - calc(35% / 2));
  left: calc(50% - calc(35% / 2));
  border-radius: 50%;
}
.vinyl .dot {
  width: 3%;
  height: 3%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid #0f1113;
  transform: translate(-50%, 50%);
  background-color: #25282b;
  z-index: 1;
}
.vinyl__rivets, .vinyl__inner {
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}
.vinyl.play .vinyl__inner, .vinyl.play .vinyl__rivets, .vinyl.play .vinyl__shine {
  animation-play-state: running;
}

@media screen and (min-width: 768px) {
  .vinyl {
    width: 100vh;
    height: 100vh;
    right: 0;
    bottom: 0;
    transform: translateX(50%);
  }
}
.left,
.right {
  position: relative;
  width: 100%;
  height: 50%;
}

.right {
  z-index: -1;
}

.corner {
  display: flex;
}

@media screen and (min-width: 768px) {
  .left,
.right {
    width: 50%;
    height: 100%;
  }
}
.music {
  width: 90%;
  max-width: 30rem;
  margin: 5rem auto 0;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  border: 1px solid rgba(53, 58, 64, 0.9);
  background: #1d1d1d;
  background: linear-gradient(180deg, #353a40 0%, #181a1d 100%);
  box-shadow: 2px 2px 20px #171718, -2px -2px 20px #373d43;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #25282b;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
